

/* Shared style */
*{
    /* max-width: 1600px; */
    margin: 0;
body {
    background: rgba(245, 245, 245, 1);
}
    
    
}
.sub-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.heading1{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
    margin-top: 16px;
    margin-bottom: 24px;
    }
.title1{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.title2{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.title3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.des1{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.des2{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-primary{
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    color: white;
    text-align: center;
    border: none;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}
.btn-secondary{
    height: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 106, 80, 1);
    background: white;
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

/* Header style */
header{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    
}

.top-bar{
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
   

    
}

.landing{
    max-width: 1280px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-around;
    
    /* gap: 65px; */
    align-items: center;

}
.landing img{
    width: 474.03px;
    height: 400px;
}

.sec2{
    margin: 80px auto;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.pillers{
    width: 1280px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 32px;
}

.card{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.card img{
    width: 64px;
    height: 64px;
}

.sec3{
    margin: 80px auto;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.sec3 .title2{
    margin-bottom: 24px;
}
.vision{
    display: flex;
    justify-content: space-between;
}

.card2{
    width: 410px;
    height: 325px;
    /* padding: 32px; */
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    margin-top: 32px;
}
.card2 img{
    width: 64px;
    height: 64px;
    margin-top: 32px;
    margin-left: 32px;
}
.card2 .title3{
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 32px;
}
.card2 .des1{
    margin-left: 32px;
    margin-right: 32px;

}
.card2 .btn-primary{
    margin-top: 24px;
    background: rgba(84, 144, 245, 1);
    margin-left: 32px;
}
.comment{
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1) url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: 24px;
    background-position-y: 24px;
    margin-top: 32px;
    margin-bottom: 80px;
}
.sec4{
    margin: 80px auto;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.sec4 .title2{
    margin-bottom: 24px;
}



.sec5{
    margin: 80px auto;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.sec5 .title2{
    margin-bottom: 24px;
}
.news{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
background: rgba(255, 255, 255, 1);
margin-top: 32px;
}
.satelite{
    width: 408px;
    height: 306px;
    border-radius: 24px
}
.date-time{
    display: flex;
    gap: 12px;
    margin: 12px 0;

}
.news2{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
background: rgba(255, 255, 255, 1);
margin-top: 32px;
}

.sec5{
    margin: 80px auto;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    }

.amount{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    
}
.amount .title2{
    border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
padding: 40px;
}
.donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#taka{
    width: 1032px;
    height: 64px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
}

